.formcontents{
    width: 70%;
    margin: 50px auto;
    border: 1px solid #DBF5BA;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#footer{
    background-color: #B60017;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 100px;
}
#footer h2 img{
    width: 470px;
    height: 430px;
    object-fit: cover;
}
.content{
    width: 50%;
    padding-right: 40px;
   
}
.content h3{
    color: white;
    font-size: 2em;
}
.content p:nth-child(2){
    color: white;
    padding-top: 20px;

}
.content p:nth-child(3){
    color: white;
}
.content h3:nth-child(4){
    padding-top: 50px;
    padding-bottom: 20px;

}
#copyrith{
    background-color: #000000;
    color: white;
    text-align: center;
}
